<nav class="navbar navbar-default navbar-inverse navbar-fixed-top header-nav-menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-link" href="#/items">
                <img alt="Brand" src="assets/img/logo.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">ONLINE AUCTIONS<span class="sr-only">(current)</span></a></li>
                <li><a href="">LIVE AUCTIONS</a></li>
                <li><a href="">PAST PRICES</a></li>
                <li><a href="">F.A.Q</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()">LOG OUT</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="breadcrumbs">
    <span ng-click="logout()">Log in</span> > <a href="#/items">ItemList</a> > <a href="">ItemDetail</a>
</div>

<div ng-if="item != null">
    <div class="bid-result-section">
        <div class="success-message" ng-show="isBidSuccess">YOU ARE HIGH BIDDER</div>
        <div class="error-message" ng-show="isBidError">You have been OUTBID</div>
    </div>
    <div class="item-slider-container">
        <div class="item-image-slider" ng-if="item.images.length > 0 ">
            <ul rn-carousel rn-carousel-controls rn-carousel-buffered class="carousel1" rn-carousel-index="carousel1Index" style="width:100%;height:240px;margin:0">
                <li ng-repeat="image in item.images track by image.id" ng-class="'id-' + image.id">
                    <div ng-style="{'background-image': 'url(' + image.thumb_url + ')'}"  class="sliderimage" ng-swipe-left="swipeSlider($swipe)" ng-swipe-right="swipeSlider($swipe)" ng-click="openLargeSlider($index)">
                    </div>
                </li>
            </ul>
        </div>
        <div class="item-detail-maininfo">
            <p><label>LOT #</label>{{item.lot_number}}</p>
            <p>{{item.title}}</p>
        </div>
        <a href="#" class="item-favorite-icon"></a>
    </div>
    <div class="item-detail-content" ng-swipe-left="goNextItem()" ng-swipe-right="goPrevItem()">
        <div class="item-detail-bidnow-section">
            <p><label>TIME LEFT</label><span class="timeleft">{{getRemainingTime(item.end_time)}} TO END</span></p>
            <p>
                <span class="bidnow-link" ng-click="openBidDlg()"></span>
            </p>
        </div>
        <div class="section_between"></div>
        <div class="item-bid-info-section">
            <div class="section-title">
                <span>BID INFO</span>
                <span class="bidinfo_accordion_btn accordion_btn {{activeSections.bid_info}}" ng-click="openSection('bid_info')"></span>
                <div class="clear"></div>
            </div>
            <div class="bidinfo-section-content section-content" ng-show="isOpenSection('bid_info')">
                <div class="starting-bid">
                    <label class="info-label">STARTING BID :</label>
                    <div class="value">${{item.starting_bid}}</div>
                    <div class="clear"></div>
                </div>
                <div class="high-bidder">
                    <label class="info-label">HIGH BIDDER :</label>
                    <div class="value">{{item.highbidder_username}}</div>
                    <div class="clear"></div>
                </div>
                <div class="current-bid">
                    <label class="info-label">CURRENT BID :</label>
                    <div class="value">${{item.current_bid}}</div>
                    <div class="clear"></div>
                </div>
                <div class="quantity">
                    <label class="info-label">QUANTITY :</label>
                    <div class="value">{{item.quantity}}</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="section_between1"></div>
        <div class="item-detail-description-section">
            <div class="section-title">
                <span>DESCRIPTION</span>
                <span class="description_accordion_btn accordion_btn {{activeSections.description}}" ng-click="openSection('description')"></span>
                <div class="clear"></div>
            </div>
            <div class="description-section-content section-content" ng-show="isOpenSection('description')" ng-bind-html="item_description">
            </div>
        </div>
        <div class="section_between"></div>
        <div class="item-bid-bidhistory-section">
            <div class="section-title">
                <span>BID HISTORY</span>
                <span class="bidhistory_accordion_btn accordion_btn {{activeSections.bid_history}}" ng-click="openSection('bid_history')"></span>
                <div class="clear"></div>
            </div>
            <div class="bidhistory-section-content section-content" ng-show="isOpenSection('bid_history')">
                <div class="bid-history-section" ng-repeat="bid_history in item.bid_history | filter: greaterThan($index, 9)">
                    <div class="bid-history-item" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div class="bidder-name">{{bid_history.username}}'s BID</div>
                        <div class="bid-datetime">{{getFormatTime(bid_history.time_of_bid)}}</div>
                        <div class="clear"></div>
                        <div class="bid-price">${{bid_history.bid}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_between1"></div>
        <div class="item-detail-terms-section">
            <div class="section-title">
                <span>Auction Information</span>
                <span class="terms_accordion_btn accordion_btn {{activeSections.terms}}" ng-click="openSection('terms')"></span>
                <div class="clear"></div>
            </div>
            <div class="terms-section-content section-content" ng-show="isOpenSection('terms')">
                <p>Bidding Starts: Friday, December 19, 2014 at 10:00 am (PT)</p>
                <p>Bidding Ends: Monday, December 22, 2014 between 10:00 am and 10:50 am (PT)</p>
                <p>See individual items for exact closing times.</p>
                <p>Location: 1333 Bella Oaks Lane, Napa, CA 94558</p>
                <p>Inspection: By appointment on Thursday, December 18, 2014. Please contact us for an appointment.
                Payment Due: No later than 12:00pm noon on Monday, December 29, 2014. No extensions. Note: Invoices are Not charged automatically.
                Payment Methods: We accept credit cards on-line, cash or cashier's checks in the Woodland office during business hours, or wire/bank transfers. Personal and business checks are not accepted. Payments are NOT taken at the removal site.</p>
                <p>Buyer's Premium: There is a 13.000% Buyer's Premium in effect for this auction.
                Removal of Items: Tuesday, December 30, 2014 9:00am to 4:00pm. No extensions. All items remaining after this specified time are considered abandoned and forfeited, with no further rights by the Buyer.
                If someone other than you is picking up your auction purchases, please CLICK HERE to fill out the authorization form so that we can release your items to your authorized agent.</p>
                <p>All items are sold "as-is" and "where-is" with no warranties expressed or implied. Buyers in default will be charged a 15% re-listing fee based upon their high bid amount. There are no refunds or exchanges. Please bid accordingly.</p>
            </div>
        </div>
    </div>
    <div class="large-slider-container" ng-if="item.images.length > 0" ng-show="isShowLargeSlider">
        <div class="large-slider-container-bg"></div>
        <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex2" rn-carousel-buffered class="carousel2">
            <li ng-repeat="image in item.images track by image.id" ng-class="'id-' + image.id">
                <div ng-style="{'background-image': 'url(' + image.image_url + ')'}"  class="largesliderimage">
                </div>
            </li>
        </ul>
        <!--input type="number" class="tiny" ng-model="carousel2Index" style="position:absolute; top:200px;z-index:9999"-->
        <div class="carousel-close-btn" ng-click="closeLargeSlider()"></div>
    </div>
    <div class="dlg-container" ng-show="isShowBidDlg">
        <div class="dlg-content">
            <div class="dlg-closebtn" ng-click="closeBidDlg()"></div>
            <div class="biddlg-title">BID AMOUNT</div>
            <div class="biddlg-amount-input-section">
                <input type="number" ng-model="bid_price" class="tiny" placeholder="$000.00,00">
            </div>
            <div class="section_between"></div>
            <div class="item-bid-info-section">
                <div class="bidinfo-section-content section-content" >
                    <div class="starting-bid">
                        <label class="info-label">STARTING BID :</label>
                        <div class="value">${{item.starting_bid}}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="high-bidder">
                        <label class="info-label">HIGH BIDDER :</label>
                        <div class="value">{{item.highbidder_username}}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="current-bid">
                        <label class="info-label">CURRENT BID :</label>
                        <div class="value">${{item.current_bid}}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="quantity">
                        <label class="info-label">QUANTITY :</label>
                        <div class="value">{{item.quantity}}</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="item-detail-bidnow-section">
                <p>
                    <span class="bidnow-link" ng-click="doConfirm()"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="dlg-container" ng-show="isShowConfirmDlg">
        <div class="dlg-content">
            <div class="dlg-closebtn" ng-click="closeConfirmDlg()"></div>
            <div class="biddlg-title">BID AMOUNT</div>
            <div class="confirmdlg-amount-section"><span class="confirm_price">${{bid_price}}</span></div>
            <div class="confirmdlg-check-terms-section">
                <input type="checkbox" ng-model="check_terms"><span class="terms-label">Accpet Terms and Conditions</span>
            </div>
            <div class="item-detail-bidnow-section">
                <p>
                    <span class="confirm-link" ng-click="doBid()"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="dlg-container" ng-show="isShowResultDlg">
        <div class="dlg-content">
            <div class="dlg-closebtn" ng-click="closeResultDlg()"></div>
            <div class="bid-result-message">
                <div class="success-message" ng-bind-html="success_message" ng-show="isBidSuccess"></div>
                <div class="error-message" ng-bind-html="error_message" ng-show="isBidError"></div>
                <div class="ok-button" ng-click="closeResultDlg()"></div>
            </div>
        </div>
    </div>
</div>
<div class="page-loading-container" ng-if="item==null">
</div>