<nav class="navbar navbar-default navbar-inverse navbar-fixed-top header-nav-menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-link" href="#/items">
                <img alt="Brand" src="assets/img/logo.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">ONLINE AUCTIONS<span class="sr-only">(current)</span></a></li>
                <li><a href="">LIVE AUCTIONS</a></li>
                <li><a href="">PAST PRICES</a></li>
                <li><a href="">F.A.Q</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()">LOG OUT</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="breadcrumbs">
    <span ng-click="logout()">Log in</span> > <a href="#/items">ItemList</a>
</div>

<div class="item-list-header" ng-if="items.length > 0">
    <h3 class="auction-title">{{items[0].auction_title}}</h3>
    <p class="auction-description" ng-bind-html="auction_description"></p>
</div>


<div class="item-list-container" ng-if="items.length > 0">
    <div class="item-list-item" ng-repeat="item in items">
        <div  class="thumbnail" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="item-image">
                <div class="item-main-info">
                    <p>LOT {{item.lot_number}}</p>
                    <p>{{item.title}}</p>
                </div>
                <div class="item-image-mask"></div>
                <div class="item-links">
                    <a href="#" class="item-favorite-icon"></a>
                    <a href="#/items/{{item.id}}" class="item-viewmore-icon"></a>
                </div>
                <a href="#/items/{{item.id}}" class="thumb">
                    <img ng-src="{{item.thumb_url}}">
                </a>
            </div>
            <div class="item-infos">
                <p><label class="info-label">HIGH BIDDER :</label> {{item.highbidder_username}}</p>
                <p><label class="info-label">CURRENT BID :</label> ${{item.current_bid}}</p>
                <p><label class="info-label">TIME REMAINING :</label> {{getRemainingTime(item.end_time)}}</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="page-loading-container" ng-if="items==null"></div>
