<nav class="navbar navbar-default navbar-inverse navbar-fixed-top header-nav-menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-link" href="#/items">
                <img alt="Brand" src="assets/img/logo.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">ONLINE AUCTIONS<span class="sr-only">(current)</span></a></li>
                <li><a href="">LIVE AUCTIONS</a></li>
                <li><a href="">PAST PRICES</a></li>
                <li><a href="">F.A.Q</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="login-container">
    <h3>Login</h3>
    <input type="text" name="username" ng-model="username" id="username" class="form-control" placeholder="Email/Username">
    <input type="password" name="password" ng-model="password" id="password" class="form-control" placeholder="Password">
    <input type="number" name="auction_id" ng-model="auction_id" id="auction_id" class="form-control" placeholder="Auction ID">
    <button type="button" class="login-btn btn-lg" ng-click="doLogin()">Login</button>
</div>